/* Table of Content
==================================================
	#Home
	#Navigation
	#About
	#Service
	#Our Team
	#Blog
	#Contact
*/

/*=================================================================
	Basic Setup
==================================================================*/
#home {
    padding-top: 80px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.bg-one {
    background-color: #2B2C30;
}

body {
    background-color: #f2f2f2;
    font-family: 'Lato', serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

a {
    color: #fff;

	-webkit-transition: all .3s ease-in 0s;
	   -moz-transition: all .3s ease-in 0s;
		 -o-transition: all .3s ease-in 0s;
			transition: all .3s ease-in 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus, a:hover {
    color: #e3005a;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amita";
    font-weight: 400;
}

.kill-margin-bottom {
	margin-bottom: 0 !important;
}

/*============ Border ================*/
.border {
    border-top: 1px solid #fff;
    height: 1px;
    margin: 15px auto 0;
    position: relative;
    width: 35%;
}

.border:before {
    background-color: #fff;
    border: 1px ridge #fff;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: -5px;
    width: 40px;
}

/*============ Navigation ================*/

.navbar-default {
	background-color: #2b2929;
  font-family: 'Autour One', cursive;
  border-bottom: 7px solid #e3005a;
	width: 100%;
	z-index: 99;
}

.navbar-brand > img {
  object-fit: contain;
  max-height: 100%;
  height: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: #dbe1e3;
    font-size: 14px;
    line-height: 5px;
    padding: 24px 15px;
    text-decoration: none;

	-webkit-transition: background .5s ease-in-out 0s;
	   -moz-transition: background .5s ease-in-out 0s;
		 -o-transition: background .5s ease-in-out 0s;
			transition: background .5s ease-in-out 0s;
}

.navbar-default .navbar-nav > li.current > a {
    color: #f2f2f2;
    background-color: #e3005a;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
}

/* =========================================================
	Main Content
============================================================ */
#main-content {
	margin-top:70px;
	position:relative;
	border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    box-shadow: 0 1px 0 0 #b6b6b6;
    display: block;
	z-index:1;
	background-color:#fff;
}
#main-content:before, #main-content:after {
    bottom: -2px;
    box-shadow: 0 1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: -2;
	border-radius: 0 0 3px 3px;
}
#main-content:after {
    bottom: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
#main-content-inner {
	position:relative;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    display: block;
	z-index:1;
	background-color:#fff;
}
#main-content-inner:before, #main-content-inner:after {
    top: -2px;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    bottom: 0;
    z-index: -2;
	border-radius: 3px 3px 0 0;
}
#main-content-inner:after {
    top: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
.main-content-top {
	border-bottom:1px solid #cdcdcd;
	padding:10px 0;
	margin:0 20px;
}
.main-content-bottom {
	background:url(images/background/line-1.gif) repeat-y 380px 0;
	border-bottom:1px solid #ddd;
	position:relative;
}
.full-width-page .main-content-bottom {
	padding:0 20px;
	background:none;
	padding-bottom:50px;
}
.sub-page .main-content-bottom {
	background:none;
}
.sub-page.v-divider .main-content-bottom {
	background:url("images/background/line-1.gif") repeat-y scroll 760px 0 transparent;
}

.wrapper{
	width:1142px;
	margin:0 auto;
}

/* =========================================================
Clear Floated Elements
============================================================ */
.left{
	float:left;
}
.right{
	float:right;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;  height: 0;
}
.clearfix:before, .clearfix:after{
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
 }
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom: 1;
}
.hover-effect{
	cursor:pointer;
	z-index:100;
}
.entry-thumb {
	display:block;
}
.divider {
	height:1px;
	max-height:1px;
	background:#ddd;
	margin:0 -20px;
}

/*----------Search Social----------*/
#search-social {
	float:right;
}
/*----------Social Links----------*/
.social-links {
	margin:1px 0;
	float:left;
}
.social-links li {
	margin:0 15px 0 0;
	list-style:none;
	width:33px;
	height:33px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	float:left;
	position:relative;
	z-index:0;
}
.social-links li a {
	display:block;
	width:100%;
	height:100%;
}
.social-links li.twitter-icon {
	background:url(images/icons/twitter-icon-hover.png) no-repeat center center;
}
.social-links li.twitter-icon a {
	background:url(images/icons/twitter-icon.png) no-repeat center center;
}
.social-links li.facebook-icon {
	background:url(images/icons/facebook-icon-hover.png) no-repeat center center;
}
.social-links li.facebook-icon a {
	background:url(images/icons/facebook-icon.png) no-repeat center center;
}
.social-links li.dribbble-icon {
	background:url(images/icons/dribbble-icon-hover.png) no-repeat center center;
}
.social-links li.dribbble-icon a {
	background:url(images/icons/dribbble-icon.png) no-repeat center center;
}
.social-links li.forrst-icon {
	background:url(images/icons/forrst-icon-hover.png) no-repeat center center;
}
.social-links li.forrst-icon a {
	background:url(images/icons/forrst-icon.png) no-repeat center center;
}
.social-links li.lastfm-icon {
	background:url(images/icons/lastfm-icon-hover.png) no-repeat center center;
}
.social-links li.lastfm-icon a {
	background:url(images/icons/lastfm-icon.png) no-repeat center center;
}
.social-links li.linkedin-icon {
	background:url(images/icons/linkedin-icon-hover.png) no-repeat center center;
}
.social-links li.linkedin-icon a {
	background:url(images/icons/linkedin-icon.png) no-repeat center center;
}
.social-links li.tumblr-icon {
	background:url(images/icons/tumblr-icon-hover.png) no-repeat center center;
}
.social-links li.tumblr-icon a {
	background:url(images/icons/tumblr-icon.png) no-repeat center center;
}
/*----------Search Box----------*/
.search-box {
	float:right;
	position:relative;
	background-color:#fbfbfb;
}
.search-box .search-text {
	background:none;
	border:1px solid #dfdfdf;
	width:215px;
	padding:0 35px 0 10px;
	height:33px;
	line-height:33px;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
.search-box .search-text:focus {
	border:1px solid #e3005a;
}
.search-box .search-submit {
	border:none;
	width:16px;
	height:16px;
	text-indent:-99999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
	background:url(images/icons/search-icon.png) no-repeat 0 0;
	position:absolute;
	right:10px;
	top:9px;
}
.search-box .search-submit:hover {
	background:url(images/icons/search-icon.png) no-repeat 0 -34px;
}

/*----------Breadcrumb----------*/
.breadcrumb {
	float:left;
	margin-top:10px;
}
.breadcrumb span {
	display:inline-block;
}

.breadcrumb .current-page,
.breadcrumb a {
	color:#e3005a;
}
.breadcrumb a:hover {
	text-decoration:underline;
}

#scrollUp {
    border: 1px solid #4e595f;
    bottom: 15px;
    color: #fff;
    display: none;
    padding: 8px 12px;
    position: fixed;
    right: 20px;
    z-index: 600;
}

#scrollUp:hover {
    background-color: #e3005a;
    border: 1px solid #e3005a;
}
