/* =========================================================
Common styles
============================================================ */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impactregular';
    src: url('fonts/impact-webfont.eot');
    src: url('fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/impact-webfont.woff') format('woff'),
         url('fonts/impact-webfont.ttf') format('truetype'),
         url('fonts/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	background:url(images/background/pattern-1.png) repeat 0 0 #f8f8f8;
}
pre, code {
    font-family: 'DejaVu Sans Mono',Menlo,Consolas,monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

ol {
	margin-top:15px;
}
ul {
	margin-top:15px;
}
ul li {
	list-style:inside disc;
	margin-bottom:10px;
}
ol li {
	list-style:inside decimal;
	margin-bottom:10px;
}
/*------responsive image----------------*/
.responsive-img{
	max-width: 100%;
  max-height: 100%;
    width: auto\9; /* ie8 */
}
/* =========================================================
Elements
============================================================ */
.more-link {
	font-size:15px;
	color:;
	background:url(images/icons/more-link-icon.png) no-repeat left center;
	padding-left:20px;
}
.more-link:hover {
	text-decoration:underline;
}
.kp-dropcap {
    display: inline-block;
    float: left;
    font-family: 'impactregular';
    font-size: 46px;
    line-height: 50px;
    margin: 0 15px 0 0;
    text-align: center;
}

.kp-dropcap.dark {
    background: none repeat scroll 0 0 #000;
    color: #fff;
	height:55px;
	line-height:50px;
	width:55px;
}

.kp-dropcap.orange {
    background: none repeat scroll 0 0 ;
    color: #fff;
	height:55px;
	line-height:50px;
	width:55px;
}

.kp-dropcap.grey {
    background: none repeat scroll 0 0 #ebebeb;
    color: #333;
	height:55px;
	line-height:50px;
	width:55px;
}

.kp-tag {
	display:inline-block;
	background:url(images/background/tag-bg.png) no-repeat left center;
	height:30px;
	margin-bottom:5px;
	margin-right:5px;
}
.kp-tag span {
	background-color:#313131;
	line-height:30px;
	height:30px;
	margin-left:12px;
	padding-right:10px;
	padding-left:5px;
	display:inline-block;
}
.kp-tag:hover {
	color:;
}
blockquote {
	color:#666;
	font-style:italic;
	border-left:8px solid #e8e8e8;
	padding-left:10px;
	line-height:20px;
	margin-bottom:10px;
}
.star-list-1,
.star-list-2,
.square-list-1,
.square-list-2,
.arrow-list-1,
.arrow-list-2,
.play-list-1,
.play-list-2,
.check-list-1,
.check-list-2 {
	margin:0;
}
.star-list-1 li {
	list-style:none;
	background:url(images/icons/star-list-icon-1.png) no-repeat left top;
	padding-left:25px;
}
.star-list-2 li {
	list-style:none;
	background:url(images/icons/star-list-icon-2.png) no-repeat left top;
	padding-left:25px;
}
.square-list-1 li {
	list-style:none;
	background:url(images/icons/square-list-icon-1.png) no-repeat left 6px;
	padding-left:15px;
}
.square-list-2 li {
	list-style:none;
	background:url(images/icons/square-list-icon-2.png) no-repeat left center;
	padding-left:15px;
}
.arrow-list-1 li {
	list-style:none;
	background:url(images/icons/arrow-list-icon-1.png) no-repeat left center;
	padding-left:15px;
}
.arrow-list-2 li {
	list-style:none;
	background:url(images/icons/arrow-list-icon-2.png) no-repeat left center;
	padding-left:20px;
}
.play-list-1 li {
	list-style:none;
	background:url(images/icons/play-list-icon-1.png) no-repeat left center;
	padding-left:20px;
}
.play-list-2 li {
	list-style:none;
	background:url(images/icons/play-list-icon-2.png) no-repeat left center;
	padding-left:20px;
}
.check-list-1 li {
	list-style:none;
	background:url(images/icons/check-list-icon-1.png) no-repeat left center;
	padding-left:20px;
}
.check-list-2 li {
	list-style:none;
	background:url(images/icons/check-list-icon-2.png) no-repeat left center;
	padding-left:25px;
}
/* =========================================================
CSS3 Transition
============================================================ */
#main-menu li ul li, #main-menu li ul li a, .column-a .widget ul li a, .big-button, .medium-button, .small-button, .download-button, .upload-button, .back-button, .next-button, .complete-button, .cancel-button, .kp-color-button .black-button, .kp-color-button .grey-button, .kp-color-button .white-button, .kp-color-button .red-button, .kp-color-button .orange-button, .kp-color-button .yellow-button, .kp-color-button .dark-blue-button, .kp-color-button .light-blue-button, .kp-color-button .green-button, .kp-color-button .maroon-button, .kp-color-button .pink-button, .bottom-sidebar .widget ul li, .bottom-sidebar .widget ul li a, .kp-tag span, .bottom-menu li a, .kopa-tag, .about-author a, .related-widget .entry-content a, .widget .entry-title a, .pagination li, .pagination li a, #toggle-view h3, .accordion-title {
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
/* =========================================================
Heading
============================================================ */
h1 {
    color: #333333;
    font: 400 24px/26px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;

}
h2 {
    color: #333333;
    font: 400 22px/24px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h3 {
    color: #333333;
    font: 400 20px/22px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h4 {
    color: #333333;
    font: 400 18px/20px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;

}
h5 {
    color: #333333;
    font: 400 16px/18px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;

}
h6 {
    color: #333333;
    font: 400 14px/18px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;

}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #222222;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: ;
}
p {
	margin-bottom:10px;
	line-height:18px;
}
/* =========================================================
Clear Floated Elements
============================================================ */
.left{
	float:left;
}
.right{
	float:right;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;  height: 0;
}
.clearfix:before, .clearfix:after{
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
 }
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom: 1;
}
.hover-effect{
	cursor:pointer;
	z-index:100;
}
.entry-thumb {
	display:block;
}
.divider {
	height:1px;
	max-height:1px;
	background:#ddd;
	margin:0 -20px;
}
/* =========================================================
	Columns
============================================================ */
.one-forth {
	float:left;
	width:263px;
	margin-right:30px;
}
.column-a {
	float:left;
	width:340px;
	padding:20px;
  overflow:hidden;
}
.column-b {
	float:left;
	width:720px;
	padding:20px;
}
.column-b-left {
	float:left;
	width:340px;
	padding-right:20px;
}
.column-b-right {
	float:left;
	width:340px;
	padding-left:20px;
}
.last {
	margin-right:0 !important;
}
.wrapper{
	width:1142px;
	margin:0 auto;
}
.mb-30 {
	margin-bottom:30px;
}
/* =========================================================
	Header
============================================================ */
#header {
	height:242px;
	border-bottom:1px solid #c7c7c7;
	background:url(images/background/pattern-2.png) repeat 0 0 #dfdfdf;
	z-index:9999;
}
#header-top {
	background-color:#000;
	border-bottom:7px solid #e3005a;
	margin-bottom:20px;
	box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	-moz-box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	-webkit-box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	position:relative;
	z-index:9999;
}
/*----------Main Nav----------*/
#main-nav {
	position:relative;
	z-index:9999;
	zoom:1;
}
/*---Main menu---*/
#main-menu {
	margin:0;
	position:relative;
	z-index:9999;
	zoom:1;
}
#main-menu > li {
	margin:0;
	float:left;
	list-style:none;
	position:relative;
}
#main-menu > li.menu-arrow:hover > a {
	background:url(images/background/menu-arrow.png) no-repeat center bottom;
}
#main-menu > li > a {
	font-family: "BebasNeueRegular", Arial,sans-serif;
	color:#dbdbdb;
	font-size:19px;
	display:block;
	padding:15px 20px;
}
#main-menu > li > a:hover {
	text-decoration:underline;
}
#main-menu > li.current-menu-item {
	background-color:#e3005a;
}
/*---Dropdown menu---*/
#main-menu li ul {
	display:none;
	position:absolute;
	width:200px;
	background-color:#181818;
	margin:0;
}
#main-menu > li > ul {
	top:54px;
	left:0;
	border-top:1px solid #e3005a;
}
#main-menu li ul li {
	list-style:none;
	margin:0;
	position:relative;
	border-bottom:1px solid #333;
}
#main-menu li ul li:hover {
	background-color:#0b0b0b;
}
#main-menu li ul li a {
	color:#dbdbdb;
	display:block;
	padding:10px 15px;
	font-size:14px;
}
#main-menu li ul li:hover > a {
	color:#e3005a;
}
#main-menu li ul li ul {
	top:0;
	left:200px;
}
/*---Responsive menu---*/
#responsive-menu {
	display:none;
	margin:10px auto;
	width:96%;
	padding:5px 2%;
	border:none;
}
/*----------Logo----------*/
#logo-image {
	float:left;
	margin-top:20px;
}
/*----------Top Banner----------*/
#top-banner {
	float:right;
	background-color:#f8f8f8;
	border:1px solid #b4b4b4;
	padding:10px;
}
/* =========================================================
	Main Content
============================================================ */
#main-content {
	margin-top:-60px;
	position:relative;
	border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    box-shadow: 0 1px 0 0 #b6b6b6;
    display: block;
	z-index:1;
	background-color:#fff;
}
#main-content:before, #main-content:after {
    bottom: -2px;
    box-shadow: 0 1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: -2;
	border-radius: 0 0 3px 3px;
}
#main-content:after {
    bottom: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
#main-content-inner {
	position:relative;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    display: block;
	z-index:1;
	background-color:#fff;
}
#main-content-inner:before, #main-content-inner:after {
    top: -2px;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    bottom: 0;
    z-index: -2;
	border-radius: 3px 3px 0 0;
}
#main-content-inner:after {
    top: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
.main-content-top {
	border-bottom:1px solid #cdcdcd;
	padding:10px 0;
	margin:0 20px;
}
.main-content-bottom {
	background:url(images/background/line-1.gif) repeat-y 380px 0;
	border-bottom:1px solid #ddd;
	position:relative;
}
.full-width-page .main-content-bottom {
	padding:0 20px;
	background:none;
	padding-bottom:50px;
}
.sub-page .main-content-bottom {
	background:none;
}
.sub-page.v-divider .main-content-bottom {
	background:url("images/background/line-1.gif") repeat-y scroll 760px 0 transparent;
}
/*----------Breadcrumb----------*/
.breadcrumb {
	float:left;
	margin-top:10px;
}
.breadcrumb span {
	display:inline-block;
}

.breadcrumb .current-page,
.breadcrumb a {
	color:#e3005a;
}
.breadcrumb a:hover {
	text-decoration:underline;
}
/*----------Search Social----------*/
#search-social {
	float:right;
}
/*----------Social Links----------*/
.social-links {
	margin:1px 0;
	float:left;
}
.social-links li {
	margin:0 15px 0 0;
	list-style:none;
	width:33px;
	height:33px;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	float:left;
	position:relative;
	z-index:0;
}
.social-links li a {
	display:block;
	width:100%;
	height:100%;
}
.social-links li.twitter-icon {
	background:url(images/icons/twitter-icon-hover.png) no-repeat center center;
}
.social-links li.twitter-icon a {
	background:url(images/icons/twitter-icon.png) no-repeat center center;
}
.social-links li.facebook-icon {
	background:url(images/icons/facebook-icon-hover.png) no-repeat center center;
}
.social-links li.facebook-icon a {
	background:url(images/icons/facebook-icon.png) no-repeat center center;
}
.social-links li.dribbble-icon {
	background:url(images/icons/dribbble-icon-hover.png) no-repeat center center;
}
.social-links li.dribbble-icon a {
	background:url(images/icons/dribbble-icon.png) no-repeat center center;
}
.social-links li.forrst-icon {
	background:url(images/icons/forrst-icon-hover.png) no-repeat center center;
}
.social-links li.forrst-icon a {
	background:url(images/icons/forrst-icon.png) no-repeat center center;
}
.social-links li.lastfm-icon {
	background:url(images/icons/lastfm-icon-hover.png) no-repeat center center;
}
.social-links li.lastfm-icon a {
	background:url(images/icons/lastfm-icon.png) no-repeat center center;
}
.social-links li.linkedin-icon {
	background:url(images/icons/linkedin-icon-hover.png) no-repeat center center;
}
.social-links li.linkedin-icon a {
	background:url(images/icons/linkedin-icon.png) no-repeat center center;
}
.social-links li.tumblr-icon {
	background:url(images/icons/tumblr-icon-hover.png) no-repeat center center;
}
.social-links li.tumblr-icon a {
	background:url(images/icons/tumblr-icon.png) no-repeat center center;
}
/*----------Search Box----------*/
.search-box {
	float:right;
	position:relative;
	background-color:#fbfbfb;
}
.search-box .search-text {
	background:none;
	border:1px solid #dfdfdf;
	width:215px;
	padding:0 35px 0 10px;
	height:33px;
	line-height:33px;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
.search-box .search-text:focus {
	border:1px solid #e3005a;
}
.search-box .search-submit {
	border:none;
	width:16px;
	height:16px;
	text-indent:-99999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
	background:url(images/icons/search-icon.png) no-repeat 0 0;
	position:absolute;
	right:10px;
	top:9px;
}
.search-box .search-submit:hover {
	background:url(images/icons/search-icon.png) no-repeat 0 -34px;
}
/*----------News Letter----------*/
.news-letter {
	border:1px solid #f2f2f2;
	background:url(images/background/newsletter-bg.png) no-repeat center top #f8f8f8;
	padding:20px;
	margin-bottom:30px;
}
.news-letter h4 {
	text-align:center;
	margin-bottom:55px;
}
.newsletter-form .email {
	border:4px solid #f2f2f2;
	background-color:#fff;
	height:37px;
	line-height:37px;
	width:232px;
	padding:0 10px;
	float:left;
	color:#666;
}
.newsletter-form .submit {
	border-top:4px solid #f2f2f2;
	border-bottom:4px solid #f2f2f2;
	border-right:4px solid #f2f2f2;
	border-left:none;
	padding:0;
	margin:0;
	height:45px;
	width:38px;
	background:url(images/icons/arrow-icon-1.png) no-repeat center center #f8f8f8;
	float:left;
	text-indent:-99999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
.newsletter-form .submit:hover {
	background:url(images/icons/arrow-icon-1-hover.png) no-repeat center center #f8f8f8;
}

/*----------article image----------*/
.article {
	background-color: transparent;
	border: transparent;
}

.article-photo {
	overflow: hidden;
	position: relative;
}

.article-photo img {
  border-radius: 50%;
  padding: 20px 10px 50px 100px;
	-webkit-transition: all 0.6s ease 0s;
	   -moz-transition: all 0.6s ease 0s;
		 -o-transition: all 0.6s ease 0s;
			transition: all 0.6s ease 0s;
}

.article-photo:hover img {
	-webkit-transform: scale(1.2);
	   -moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		 -o-transform: scale(1.2);
			transform: scale(1.2);
}

/*----------image replace adiopoli wrapper----------*/
.catg_nav li {
  display: block;
  float: left;
  margin-right: 20px;
  width: 48.4%;
  margin-bottom: 5px;
}
.catg_nav li:nth-child(2){
	margin-right: 0px;
}
.catg_nav li:nth-child(4){
	margin-right: 0px;
}
.catgimg_container {
    width:100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 8px;
}
.catg1_img img {
	width: 329px;
	height: 194px;
  padding-bottom: 10px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* IE 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	transform: translate3d(0px, 0px, 0px);
}
.catg1_img:hover img {
	opacity: 0.8;
	-webkit-transform:scale(1.1); /* Safari and Chrome */
	-moz-transform:scale(1.1); /* Firefox */
	-ms-transform:scale(1.1); /* IE 9 */
	-o-transform:scale(1.1); /* Opera */
	transform:scale(1.1);
}

/*----------Widget----------*/
.widget {
	margin-bottom:30px;
  width: 100%;
  overflow: hidden;
}
.column-a .widget-title {
	background-color:#414141;
	padding:10px 15px;
	margin-bottom:10px;
	color:#fff;
}
.entry-categories {
	font-size:13px;
	color:#e3005a;
	font-family: 'Coda', cursive;
	display:inline-block;
}
.entry-date {
	font-size:10px;
	color:#777;
	font-family: 'Coda', cursive;
	display:inline-block;
}
.entry-categories:hover {
	text-decoration:underline;
}
.column-a .widget .entry-item {
	margin:8px 0 15px;
}
.widget .entry-title {
	font-size:16px;
	font-family: 'Coda', cursive;
	font-weight:800;
	margin-bottom:10px;
}
.widget .entry-title a {
	color:#222;
}
.widget .entry-title a:hover {
	color:#e3005a;
}
.widget .entry-item .entry-thumb {
	margin-bottom:10px;
}
.widget .other-categories {
	margin:0;
}
.widget .other-categories li {
	margin:0;
	list-style:none;
	border-top:1px solid #e7e7e7;
	padding:10px 0;
}
.widget .other-categories li .entry-categories, .widget .other-categories li .entry-date {
	display:block;
	margin-bottom:5px;
}
.widget .other-categories li a {
	color:#000;
}
.widget .other-categories li .entry-categories, .widget .other-categories li a:hover {
	background-color: #ffffff;
  color: #e3005a;

}
.widget .older-posts, .widget .recent-comments {
	margin:0;
}
.widget .older-posts li {
	margin:0 0 10px;
	list-style:none;
	border-bottom:1px solid #e7e7e7;
	padding-bottom:10px;
	color:#222;
}
.widget .older-posts li a {
	color:#222;
}
.widget .older-posts li:hover, .widget .older-posts li a:hover {
	color:#e3005a;
}
.widget .recent-comments li {
	margin:0 0 15px;
	list-style:none;
	border-bottom:1px solid #e7e7e7;
	padding-bottom:15px;
}
.widget .recent-comments li header strong {
	color:#222;
}
.widget .recent-comments li header a {
	color:#e3005a;
}
.widget .recent-comments li header a:hover {
	text-decoration:underline;
}
.widget .recent-comments li header em {
	color:#777;
}
.widget .recent-comments li .entry-content .entry-thumb {
	float:left;
	margin-right:15px;
}
.widget .recent-comments li .entry-content p {
	font-style:italic;
}
/* =========================================================
	Column b
============================================================ */
.column-b .widget-title {
	border-top:7px solid #e3005a;
	padding-top:10px;
	font-size:20px;
	background:url(images/background/pattern-4.png) repeat-x 0 12px;
	line-height:1;
	margin-bottom:20px;
}
.column-b .widget-title span {
	color:#e3005a;
	background-color:#fff;
	padding-right:10px;
}
/*----------Carousel----------*/
.list-carousel.responsive {
    margin: 0 -10px;
    width: auto;
}
.list-carousel ul {
    display: block;
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.list-carousel ul li {
    display: block;
    float: left;
    margin: 0 10px;
    padding: 0;
	width:217px;
}
.list-carousel ul li article img {
    display: block;
    height: auto;
    width: 100%;
}
.carousel-nav {
	position:absolute;
	top:12px;
	right:0;
	background-color:#fff;
	padding-left:10px;
}
.list-carousel .carousel-next, .list-carousel .carousel-prev {
    background: url("images/slider/carousel-nav.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
	float:left;
    height: 26px;
    text-indent: -9999px;
    width: 25px;
    z-index: 10;
	outline:none;
}
.list-carousel .carousel-prev {
	margin-right:5px;
}
.list-carousel .carousel-next {
    background-position: -75px 0px;
}
.list-carousel .carousel-prev:hover {
	background-position: 0 -74px;
}
.list-carousel .carousel-next:hover {
    background-position: -75px -74px;
}
.featured-widget ul li article header {
	background:url(images/background/pattern-3.png) repeat 0 0;
	padding:5px 5px 0;
	margin-bottom:15px;
}
.featured-widget ul li article header img {
	margin-bottom:10px;
}
.featured-widget ul li article header p {
	float:left;
}
.featured-widget ul li article header p strong {
	font-size:28px;
	font-family: 'Coda', cursive;
	color:#000;
	font-weight:800;
	line-height:30px;
	margin-right:5px;
}
.featured-widget ul li article header p span {
	color:#000;
	font-size:10px;
	font-family: 'Coda', cursive;
	width:40px;
	white-space:pre-wrap;
	display:inline-block;
	line-height:14px;
}
.entry-comments {
	color:#e3005a;
	font-size:13px;
	font-family: 'Coda', cursive;
}
.entry-comments:hover {
	text-decoration:underline;
}
.featured-widget ul li article header .entry-comments {
	float:right;
	line-height:30px;
}
.featured-widget ul li article .entry-content .entry-title {
	font-size:14px;
	font-family: 'Coda', cursive;
	font-weight:800;
	margin-bottom:5px;
}
.featured-widget ul li article .entry-content .entry-title a {
	color:#222;
}
.featured-widget ul li article .entry-content .entry-title a:hover {
	color:#e3005a;
}
.featured-widget {
	position:relative;
}
/*----------Column-b-left----------*/
.column-b .entry-item {
	margin-bottom:30px;
}
.column-b .entry-item header {
	background:url(images/background/pattern-3.png) repeat 0 0;
	padding:5px 5px 0;
	margin-bottom:15px;
}
.column-b .entry-item header img {
	display:block;
}
.column-b .entry-item header p {
	float:left;
	margin:15px 0;
}
.column-b .entry-item header p strong {
	font-size:28px;
	font-family: 'Coda', cursive;
	color:#000;
	font-weight:800;
	line-height:30px;
	margin-right:5px;
}
.column-b .entry-item header p span {
	color:#000;
	font-size:10px;
	font-family: 'Coda', cursive;
	width:40px;
	white-space:pre-wrap;
	display:inline-block;
	line-height:14px;
}
.column-b .entry-item header .entry-comments {
	float:right;
	line-height:30px;
	margin:15px 0;
}
/*----------Pagination----------*/
.pagination {
	margin:20px 0 0 0;
	display:inline-block;
}
.pagination li {
	margin:0;
	list-style:none;
	float:left;
	width:45px;
	height:45px;
	margin-right:5px;
	background-color:#efefef;
	text-align:center;
}
.pagination li.current, .pagination li:hover {
	background-color:#e3005a;
}
.pagination li a {
	line-height:45px;
	font-size:16px;
	font-family: 'Amita', cursive;
}
.pagination li.current a, .pagination li:hover a {
	color:#fff;
}
.column-b-inner {
	width:100%;
	background:url(images/background/line-1.gif) repeat-y 360px 0;
}
/*----------Twitter Widget----------*/
.twitter-widget {
	background-color:#f8f8f8;
	padding:30px 40px;
}
.tweet_list {
	margin:0;
}
.tweet_list li {
	margin:0;
	list-style:none;
}
.tweet_avatar {
	display:inline-block;
	width:69px;
	height:52px;
	background:url(images/icons/twitter-icon-2.png) no-repeat center center;
	float:left;
}
.tweet_avatar img {
	display:none;
}
.tweet_text {
	line-height:52px;
	font-size:16px;
}
.tweet_text .at, .tweet_text a {
	color:#e3005a;
}
.tweet_text .at:hover,
.tweet_text a:hover {
	text-decoration:underline;
	color:#e3005a;
}

.column-a .tweet_avatar {
	display:inline-block;
	width:22px;
	height:15px;
	background:url(images/icons/twitter-icon.png) no-repeat center center;
	float:left;
	margin-right:10px;
}
.column-a .tweet_text {
	line-height:20px;
	font-size:12px;
}
.column-a .tweet_list li {
	border-bottom:1px solid #ddd;
	padding:0 0 10px 0;
	margin:0 0 10px 0;
}
.column-a .tweet_list li:last-child {
	padding-bottom:0;
	margin-bottom:0;
	border-bottom:none;
}

/* =========================================================
	Page Bottom
============================================================ */
.page-bottom {
	background-color:#181818;
	margin-top:-130px;
	padding-top:165px;
	color:#b6b6b6;
}
.page-bottom a {
	color:#b6b6b6;
}
.bottom-sidebar .widget .widget-title {
	font-size:20px;
	color:#fefefe;
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:1px solid #444;
}
.bottom-sidebar .widget ul {
	margin:0;
}
.bottom-sidebar .widget ul li {
	list-style:none;
}
.bottom-sidebar .widget .kp-categories li {
	list-style:inside square;
	width:50%;
	float:left;
}
.bottom-sidebar .widget .kp-categories li:hover, .bottom-sidebar .widget .kp-categories li a:hover {
	color:#e3005a;
}
.bottom-sidebar .kp-dropcap.dark {
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	position:relative;
	z-index:0;
	color:#999;
}
/*----------Flickr Feeds----------*/
.flickr-badge-image {
	display:inline-block;
	margin:1px
}
/*----------Footer----------*/
#footer {
	border-top:1px solid #444;
	padding:25px 0;
	color:#a3a3a3;
	font-family: 'Coda', cursive;
	font-size:14px;
}
#copyrights {
	float:left;
	margin:0;
}
#bottom-nav {
	float:right;
}
.bottom-menu {
	margin:0;
}
.bottom-menu li {
	float:left;
	list-style:none;
	border-left:1px solid #a3a3a3;
	padding-left:15px;
	margin:0 0 0 15px;
}
.bottom-menu li a {
	color:#a3a3a3;
	font-size:15px;
}
.bottom-menu li a:hover {
	color:#e3005a;
}
/* =========================================================
Column page
============================================================ */
.column-title {
	margin:20px 0 15px 0;
	border-bottom:1px solid #cdcdcd;
	padding-bottom:10px;
	color:#e3005a;
	font-size:16px;
	font-family: 'Coda', cursive;
	font-weight:800;
}
.kopa-one-two {
	float:left;
	margin-right:2%;
	width:49%;
}
.kopa-one-third {
	float:left;
	margin-right:2%;
	width:32%;
}
.kopa-two-third {
	float:left;
	margin-right:2%;
	width:66%;
}
.kopa-one-forth {
	float:left;
	margin-right:2%;
	width:23.5%;
}
.kopa-three-forth {
	float:left;
	margin-right:2%;
	width:74.5%;
}
/* =========================================================
Elements page
============================================================ */
.element-title {
	margin:0px 0 15px 0;
	border-bottom:1px solid #cdcdcd;
	padding-bottom:10px;
	color:#333;
	font-size:16px;
	font-family: 'Coda', cursive;
	font-weight:800;
}
.kp-success, .kp-attention, .kp-info, .kp-warning, .kp-question {
	padding:15px;
	color:#777;
	margin-bottom:30px;
}
.kp-success img, .kp-attention img, .kp-info img, .kp-warning img, .kp-question img {
	margin-right:15px;
	float:left;
}
.kp-success {
	border:1px solid #9be1b5;
	background-color:#defeea;
}
.kp-attention {
	border:1px solid #f4f1a2;
	background-color:#fefcdb;
}
.kp-info {
	border:1px solid #a4d4f5;
	background-color:#eef6fc;
}
.kp-warning {
	border:1px solid #f7baba;
	background-color:#fbefef;
}
.kp-question {
	border:1px solid #85e2ea;
	background-color:#d9f4f6;
}
.big-button {
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	font-weight:800;
	font-family: 'Coda', cursive;
	background-color:#414141;
	display:inline-block;
	padding:19px 30px 15px;
	height:14px;
	line-height:14px;
}
.big-button:hover, .medium-button:hover, .small-button:hover {
	background-color:#e3005a;
	color:#fff;
}
.medium-button {
	font-size:14px;
	color:#fff;
	font-weight:800;
	font-family: 'Coda', cursive;
	background-color:#414141;
	display:inline-block;
	padding:14px 25px 10px;
	height:14px;
	line-height:14px;
}
.small-button {
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	background-color:#414141;
	display:inline-block;
	padding:7px 15px;
	height:14px;
	line-height:14px;
}
.download-button,
.upload-button,
.back-button,
.next-button,
.complete-button,
.cancel-button {
	background-color:#f8f8f8;
	border:1px solid #ebebeb;
	display:inline-block;
	color:#aeaeae;
	font-size:16px;
	font-weight:800;
	font-family: 'Coda', cursive;
	padding:10px 25px 10px 20px;
	margin-right:20px;
	margin-bottom:20px;
}
.download-button span {
	display:inline-block;
	background:url(images/icons/download-icon.png) no-repeat right 0;
	line-height:25px;
	padding-right:35px;
}
.download-button:hover span {
	background:url(images/icons/download-icon.png) no-repeat right -75px;
}

.kp-color-button .black-button,
.kp-color-button .grey-button,
.kp-color-button .white-button,
.kp-color-button .red-button,
.kp-color-button .orange-button,
.kp-color-button .yellow-button,
.kp-color-button .dark-blue-button,
.kp-color-button .light-blue-button,
.kp-color-button .green-button,
.kp-color-button .maroon-button,
.kp-color-button .pink-button {
	margin:10px 5px 0 0;
}
.black-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#414141;
}

.grey-button {
	text-transform:uppercase;
	color:#333;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#aeaeae;
	text-shadow:1px 1px 1px rgba(255,255,255,0.49);
}

.white-button {
	text-transform:uppercase;
	color:#aeaeae;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:8px 18px;
	background-color:#f8f8f8;
	text-shadow:1px 1px 1px #fff;
	border:1px solid #ebebeb;
}

.red-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#e3005a;
}

.red-button:hover {
	color:#fff;
	background-color:#414141;
}

.orange-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#ff8400;
}

.orange-button:hover {
	color:#fff;
	background-color:#414141;
}

.yellow-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#ffc600;
}

.yellow-button:hover {
	color:#fff;
	background-color:#414141;
}
.dark-blue-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#4575ce;
}

.light-blue-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#1bc1e4;
}

.green-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#5ba028;
}

.maroon-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#b10057;
}

.maroon-button:hover {
	color:#fff;
	background-color:#414141;
}

.pink-button {
	text-transform:uppercase;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	font-size:16px;
	display:inline-block;
	padding:10px 20px;
	background-color:#ff00b4;
}

.pink-button:hover {
	color:#fff;
	background-color:#414141;
}

.kp-divider-1 {
	height:1px;
	max-height:1px;
	border-top:1px solid #e7e7e7;
	margin:20px 0;
}

.kp-divider-2 {
	height:1px;
	max-height:1px;
	border-top:1px dashed #b4b4b4;
	margin:20px 0;
}

.kp-divider-3 {
	height:1px;
	max-height:1px;
	border-top:1px dotted #b4b4b4;
	margin:20px 0;
}

.kp-divider-4 {
	height:5px;
	max-height:5px;
	background:url(images/background/divider-4.png) repeat-x 0 0;
	margin:20px 0;
}

/*-------------Tabs-----------*/
.list-container-1{

}
.list-container-1 ul {
	margin:0;
	background-color:#414141;
	padding:4px 0 0 20px;
	border-bottom:4px solid #e3005a;
}
.list-container-1 ul li{
	list-style:none;
	float:left;
	margin:0px;
}
.list-container-1 ul li a{
	padding:8px 20px;
	color:#fff;
	font-size:18px;
	display:block;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.list-container-1 ul li.active a,
.list-container-1 ul li:hover a{
	text-decoration:none;
	background-color:#e3005a;
}
.tab-container-1 {
	border:1px solid #e7e7e7;
	padding:15px 20px 5px;
}

.list-container-2{

}
.list-container-2 ul {
	margin:0;
	background-color:#f8f8f8;
	padding:0 0 0 20px;
	border-bottom:4px solid #ebebeb;
	border-top:1px solid #e7e7e7;
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
}
.list-container-2 ul li{
	list-style:none;
	float:left;
	margin:0px;
}
.list-container-2 ul li a {
	padding:10px 20px;
	color:#333;
	font-size:18px;
	display:block;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.list-container-2 ul li.active a,
.list-container-2 ul li:hover a {
	text-decoration:none;
	background-color:#fff;
	color:#e3005a;
	margin-bottom:-4px;
	padding:10px 20px 14px;
}
.list-container-2 ul li.active a {
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
}
.tab-container-2 {
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	border-bottom:1px solid #e7e7e7;
	padding:15px 20px 5px;
}

/*-------------Toggle Boxes-----------*/
#toggle-view {
    list-style:none;
    margin:0;
    padding:0;
}
#toggle-view p {
	margin-bottom:0;
}
#toggle-view li {
	margin:0 0 3px 0;
	position:relative;
	cursor:pointer;
	list-style:none;

}
#toggle-view li:hover {

}
#toggle-view h3 {
	background-color:#414141;
	font-size:18px;
	margin:0;
	color:#fff;
	font-family: "BebasNeueRegular", Arial,sans-serif;
	line-height:40px;
	padding:0 15px;
}
#toggle-view h3:hover {
	background:#e3005a;
}
#toggle-view span {
	position:absolute;
	right:0px;
	top:0;
	font-size:24px;
	width:40px;
	height:40px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	line-height:40px;
}

#toggle-view .panel {
	margin:0;
	display:none;
}

#toggle-view .panel p {
	margin:10px 0 20px;
}

/************Accordion**************/
.accordion-title {
	background-color:#414141;
	margin-bottom:3px;
}
.accordion-title h3{
	margin-bottom:0px;
	font-family: 'bebas_neueregular',Arial,sans-serif;
	font-weight:400;
	line-height:22px;
}
.accordion-title a {
	color: #fff;
    display: inline-block;
    padding: 9px 15px;
	font-size:18px;
	font-family: "BebasNeueRegular", Arial,sans-serif;
}
.accordion-title.active, .accordion-title:hover {
	background-color:#e3005a;
}
.accordion-title.active a,
.accordion-title:hover a {
	color:#fff;
}
.accordion-container {
	margin:10px 0 20px 0;
}
/************Border**************/
.kopa-border-1 {
	background:url(images/background/pattern-3.png) repeat 0 0;
	padding:5px;
	display:block;
}
.kopa-border-2 {
	display:block;
	border:5px solid #e2e2e2;
}
.kopa-border-3 {
	display:block;
	border:1px solid #ddd;
	background-color:#fff;
	padding:4px;
}
/*
Back to top button
*/
#back-top {
	position: fixed;
	bottom: 100px;
	right:0;
	margin-right:20px;
	margin-bottom:0;
	z-index:100;
}
#back-top a {
	width: 65px;
	height: 65px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
	background:url(images/background/back-top-bg.png) no-repeat center center #e3005a;
	text-indent:-99999px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.67);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.67);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.67);
	position:relative;
	z-index:0;
	outline:none;
}
#back-top a:hover{
	-webkit-box-shadow:0 0 10px 0 #00b9ef;
	-moz-box-shadow:0 0 10px 0 #00b9ef;
	box-shadow:0 0 10px 0 #00b9ef;
}
/* =========================================================
Search page
============================================================ */
.kopa-search-list,
.kopa-search-list li {
	margin:0;
	list-style:none;
}
.kopa-search-list li {
	border-bottom:1px solid #cdcdcd;
	margin-bottom:20px;
}
.kopa-search-list li:last-child {
	border-bottom:none;
	margin-bottom:0px;
}
.kopa-search-list li .entry-item {
	margin-bottom:20px;
}
.entry-meta {
	background-color:#e2e2e2;
	display:inline-block;
	padding:5px 10px;
	margin-bottom:10px;
	font-size:14px;
	color:#555;
	line-height:1;
	font-family: 'Coda', cursive;
}
.entry-meta .entry-date,
.entry-meta .entry-comments {
	font-size:14px;
	color:#555;
	line-height:1;
	font-family: 'Coda', cursive;
}
.entry-meta .entry-date {
	margin-right:5px;
}
.entry-meta .entry-comments {
	margin-left:5px;
}
.entry-meta .entry-comments span {
	color:#e3005a;
}
.kopa-search-keyword {
	background-color:#ff9686;
}
/* =========================================================
Single page
============================================================ */
.entry-box header {
	background:url(images/background/pattern-3.png) repeat 0 0;
	padding:5px 10px;
	margin-bottom:20px;
}
.entry-box header .entry-meta {
	font-size:14px;
	color:#666;
	margin:0;
	padding:0;
	background:none;
	line-height:28px;
}
.entry-box header .entry-date,
.entry-box header .entry-author {
	font-family: 'Coda', cursive;
	font-size:14px;
	color:#e3005a;
	line-height:28px;
}
.entry-box header .entry-author:hover {
	text-decoration:underline;
}
.entry-box header .entry-comments {
	color:#fff;
	font-size:20px;
	font-family: 'Coda', cursive;
	font-weight:800;
	background:#e3005a;
	display:inline-block;
	float:right;
	line-height:1;
	padding:5px 5px 3px 5px;
	position:relative;
}
.entry-box header .entry-comments span {
	width:9px;
	height:13px;
	background:url(images/background/comment-arrow.png) no-repeat 0 0;
	position:absolute;
	left:-9px;
	top:8px;
}
.entry-box .entry-content img {
	width:48.75%;
	margin-right:2.777778%;
	float:left;
}
/*--------------Tags--------------*/
.kopa-tag-box {
	background:url(images/icons/tag-icon.png) no-repeat left 0;
	height:24px;
	padding-left:40px;
	margin-bottom:50px;
}
.kopa-tag {
	display:inline-block;
	background:url(images/background/pattern-3.png) repeat 0 0;
	line-height:24px;
	padding:0 10px;
}
.column-a .kopa-tag-box {
	background:none;
	padding-left:0;
	margin-bottom:0;
	height:auto;
}
.column-a .kopa-tag {
	margin:0 5px 10px 0;
}
/*--------------About Author--------------*/
.about-author {
	margin-bottom:50px;
}
.about-author img {
	float:left;
	margin-right:2.777778%;
}
.about-author h3,
#comments h3,
#respond h3,
.related-widget h3 {
	color:#e3005a;
	margin-bottom:15px;
}
.about-author a {
	font-size:14px;
	font-weight:800;
	font-family: 'Coda', cursive;
	display:block;
	margin-bottom:5px;
}
.about-author p {
	margin-bottom:15px;
}
.about-social-link {
	margin:0;
}
.about-social-link li {
	float:left;
	list-style:none;
	margin:0 5px 0 0;
}
.about-social-link li a {
	display:block;
}
/*------------------ Comments List ---------------------*/
#comments {
	margin-bottom:40px;
}
#comments h3 {
	background:url(images/icons/comment-icon.png) no-repeat left 0;
	padding-left:40px;
	height:25px;
	margin-bottom:30px;
}
.comments-list .comment {
	margin-bottom:25px;
	list-style:none;
}
.comment-wrap img {
	float:left;
	margin-right:25px;
}
.comment-wrap .comment-body {
	margin-left:100px;
	border:1px solid #e2e2e2;
	background-color:#fafafa;
	padding:15px 20px;
	position:relative;
	z-index:0;
}
.comment-wrap .comment-body .comment-meta, .comment-wrap .comment-body p {
	margin:0 0px 5px 0;
}
.comment-wrap .comment-body .comment-meta .author {
	display:inline-block;
	font-size:15px;
	color:#e3005a;
	margin-right:5px;
	font-family: 'Coda', cursive;
}
.comment-wrap .comment-body .comment-meta .date {
	display:inline-block;
	font-size:12px;
	color:#777;
}
.comment-wrap .comment-body footer p {
	float:right;
	margin:0;
}
.comment-wrap .comment-body .comment-reply-link, .comment-wrap .comment-body .comment-edit-link {
	display:inline-block;
	color:#e3005a;
}
.comment-wrap .comment-body .comment-reply-link:hover, .comment-wrap .comment-body .comment-edit-link:hover {
	text-decoration:underline;
}
.comment-wrap .comment-body .comment-reply-link {
	margin-right:15px;
}
.commnet-list-arrow {
	display:block;
	width:13px;
	height:21px;
	background:url(images/background/comment-list-arrow.png) no-repeat 0 0;
	position:absolute;
	top:10px;
	left:-13px;
}
.comments-list .children-1 {
	margin-left:100px;
}
.comments-list .children-2 {
	margin-left:200px;
}
.comment-pagination {
    float: right;
}
.comment-pagination a, .comment-pagination span {
    padding-left: 15px;
	font-size:16px;
	font-family: 'Coda', cursive;
}
.comment-pagination .current {
	color:#e3005a;
}
/*--------------Comment Form--------------*/
#respond {
	padding:15px;
	background-color:#fafafa;
	margin-bottom:30px;
}
#comments-form p.textarea-block,
#contact-form p.textarea-block {
	position:relative;
	width:100%;
	margin-bottom:20px;
}
#comment_message,
#contact_message {
	background-color:#fff;
	height:86px;
	border:1px solid #e2e2e2;
	padding:10px 2%;
	width:95%;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
#comments-form p.input-block,
#contact-form p.input-block {
	position:relative;
	width:31.08%;
	float:left;
	margin-right:2.941176%;
	margin-bottom:30px;
}
#comments-form label.required,
#contact-form label.required {
	display:block;
	margin-bottom:5px;
	font-family: 'Coda', cursive;
}
#comment_name,
#comment_email,
#comment_url,
#contact_name,
#contact_email,
#contact_url {
	border:1px solid #e2e2e2;
	padding:10px 2%;
	width:95%;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
#comment_name:focus,
#comment_email:focus,
#comment_url:focus,
#comment_message:focus,
#contact_name:focus,
#contact_email:focus,
#contact_url:focus,
#contact_message:focus {
	border:1px solid #e3005a;
}

.comment-button,
.contact-button {
	margin:0;
}
#submit-comment,
#submit-contact {
	border:none;
    background-color:#e3005a;
    color: #FFFFFF;
    display: inline-block;
    font-family: 'Coda', cursive;
	font-weight:800;
    font-size: 14px;
    padding: 5px 30px;
	cursor:pointer;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
#submit-comment:hover,
#submit-contact:hover {
	background-color:#414141;
}

#comments-form label.error,
#contact-form label.error {
	position:absolute;
	right:0;
	bottom:-20px;
	font-family: 'Coda', cursive;
	color:#e3005a;
}

#response {
	font-family: 'Coda', cursive;
	color:#e3005a;
	font-size:14px;
}

/*--------------Related widget--------------*/
.related-widget h3 {
	padding:10px 20px;
	background-color: #fafafa;
}
.related-widget h3 span {
	background:url(images/icons/copy-icon.png) no-repeat left center #fafafa;
	padding-left:35px;
}
.related-widget ul {
	margin:0 -20px;
	list-style:none;
}
.related-widget ul li {
	margin:0 20px 15px;
	list-style:none;
	float:left;
	width:340px;
	border-bottom:1px solid #e7e7e7;
	padding-bottom:10px;
}
.related-widget .entry-thumb {
	float:left;
	margin-right:15px;
}
.related-widget .entry-content a {
	display:block;
	color:#222;
	font-size:16px;
	font-family: 'Coda', cursive;
	line-height:18px;
	margin-bottom:5px;
}
.related-widget .entry-content a:hover {
	color:#e3005a;
}
.related-widget .entry-content .entry-date,
.related-widget .entry-content .entry-meta {
	font-size:10px;
	text-transform:uppercase;
	background:none;
	padding:0;
	display:inline-block;
	font-family: 'Coda', cursive;
}
.related-widget .entry-content .entry-comments {
	font-size:10px;
	color:#e3005a;
	display:inline-block;
	font-family: 'Coda', cursive;
}
.related-widget .entry-content .entry-comments:hover {
	text-decoration:underline;
}

.kopa-categories li,
.kopa-archives li {
	float:left;
	padding-left:4%;
	width:46%;
}
/* =========================================================
Contact page
============================================================ */
.contact-title {
	color:#333;
	font-size:16px;
	font-family: 'Coda', cursive;
	font-weight:800;
	margin-bottom:10px;
}
.google-map {
	height:400px;
}
.google-map iframe {
	margin:0;
	padding:0;
}
/* =========================================================
404 Page
============================================================ */
.error-404{
    margin:100px 10% 91px 10%;
}
.error-404 .left-col{
    width:42%;
    float:left;
	margin-right:4.3%;
}
.error-404 .left-col p{
    font-size:120px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:700;
    color:#000;
    line-height:100px;
	text-align:right;
}
.error-404 .right-col{
    width:50%;
    float:left;
}
.error-404 .right-col h1{
    margin-bottom:10px;
    font-size:29px;
}
.kopa-pagelink{
	margin-top:20px;
	margin-bottom:20px;
}
.kopa-pagelink a{
	color:#255379;
	text-decoration:underline;
	font-weight:700;
	padding-right:15px;
}
